@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");

/* p{
font-family: "Hanken Grotesk", serif;
font-family: "Quicksand", sans-serif;
} */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
p {
  font-size: 16px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
a {
  text-decoration: none;
  transition: 0.5s ease;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
body {
  background-image: url(../images/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 100vh; */
}
@media (min-width: 1366px) {
  .container {
    max-width: 1300px;
  }
}
/* @media (max-width: 1366px) {
  .container {
    max-width: 1050px;
  }
} */
header img {
  width: 300px;
}
footer {
  text-align: center;
  margin-bottom: 20px;
}
footer img {
  width: 300px;
}
.Landing {
  padding: 80px 0 60px 0;
  /* padding-top: 56.25%;  */
  overflow: hidden;
}
.slider {
  position: relative;
}

.landing-card {
  border: 2px solid #f28f5d;
  border-radius: 40px;
  position: relative;
  aspect-ratio: 16 / 9; 
}
.landing-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 38px;
  /* height: 600px; */
  aspect-ratio: 16 / 9; 
}
.landing-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  height: 300px;
  object-fit: cover;
}
.landing-Img img {
  height: 750px;
  /* aspect-ratio: 16 / 9;  */
  width: 100%;
  object-fit: cover;
  border-radius: 40px 0 0 40px;
}
.landing-text {
  padding: 80px 30px 20px 18px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  background-color: rgb(16, 16, 16, 0.7);
  border-radius: 0px 40px 40px 0;
  height: 750px;
}
.landing-card .col-lg-7 {
  padding-right: 0;
}
.landing-card .col-lg-5 {
  padding-left: 0;
}
.landing-text h1 {

  background-color: #f28f5d;
  text-align: center;
  padding: 5px 0px 0px 0px;
  width: 260px;
  margin-left: 100px;
  /* margin-right: 100px; */
  margin-bottom: 30px;
  color: #3a3a3a;
  font-size: 34px;
  text-transform: uppercase;
  border-radius: 14px;
  font-weight: 400;
}
.landing-text span {
  font-weight: 700;
}
.landing-text h2 {
  color: #f28f5d;
  font-size: 45px;
  text-transform: capitalize;
  font-weight: 500;
}
.landing-text p {
  color: #fff;
  font-size: 32px;
}
.landing-text span.dot {
  font-size: 20px;
  color: #fff;
}

.landing-text .media{
  color: #f28f5d;
  font-weight: normal;
}

.swiper-button-prev,
.swiper-button-next {
  right: -7rem;
}
.swiper-button-prev {
  left: -7rem;
}
.slider .swiper-button-prev::after,
.slider .swiper-button-next::after {
  font-size: 46px;
  font-weight: 900;
  /* color: #cbb6b6; */
  /* color: rgba(200, 200, 200, 0.7); */
  color: rgb(135, 135, 135, 0.3);
}
.landing-card::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 8px;
  /* left: -205px; */
  right: 60px;
  height: 70px;
  background-color: #f28f5d;
  border-radius: 0 0px 2px 2px;
}
.landing-card::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 8px;
  right: 75px;
  height: 50px;
  background-color: #f28f5d;
  z-index: 1;
  border-radius: 0 0px 2px 2px;
}
.landing-video1::before,
.landing-video1::after {
  display: none;
}
.soonIMG {
  /* box-shadow: (0 0 86px #00000080); */
  padding: 60px 0 60px 0;
}
.soonIMG img {
  width: 100%;
  object-fit: cover;

  /* filter: invert(0%) sepia(90%) saturate(7500%) hue-rotate(59deg) brightness(105%) contrast(111%); */
}

.secondText {
  /* height: 600px; */
  aspect-ratio: 16 / 9; 
  padding: 70px 30px 10px 30px;
  background-color: rgb(44, 44, 44, 0.7);
  border-radius: 40px;
  position: relative;
}
.secondText h1 {
  color: #f28f5d;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 50px;
}
.secondText p {
  color: #fff;
  font-size: 40px;
  max-width: 80%;
}
.secondText span {
  color: #f28f5d;
}
.secondText img {
  position: absolute;
  right: 30px;
  bottom: 60px;
  height: 410px;
}
.slider .myswiper1 {
  margin: 0 -40rem;
  position: relative;
  perspective: 1000px;
}

.swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease !important;
  opacity: 0.5 !important;
  transform: scale(0.8) rotateY(0deg) translateZ(-100px) !important;
}

.swiper-slide-active {
  opacity: 1 !important;
  transform: scale(1) rotateY(0deg) translateZ(0) !important;
  z-index: 10 !important;
  
}

.swiper-slide-next {
  left: -16rem;
}
.swiper-slide-prev {
  right: -16rem;
}
.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.1 !important;
  transform: scale(0.7) rotateY(0deg) translateZ(-50px) !important;
  z-index: 5 !important;
  filter: blur(5px);
}

.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(
    .swiper-slide-prev
  ) {
  opacity: 0.1 !important;
  transform: scale(0.7) rotateY(0deg) translateZ(-150px) !important;
}


/* .aspect-ratio-wrapper {
  position: relative;
  width: 100%; 
  padding-top: 56.25%; 
  overflow: hidden;
} */


@media (max-width: 1440px) {
  .slider .myswiper1 {
    margin: 0 -32rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    right: -3rem;
  }
  .swiper-button-prev {
    left: -3rem;
  }
  .secondText h1 {
    color: #f28f5d;
    text-align: center;
    font-weight: 700;
    /* font-size: 65px; */
    margin-bottom: 50px;
  }
  .secondText p {
    color: #fff;
    font-size: 35px;
    max-width: 75%;
  }
  .secondText img {
    height: 430px;
    /* width: 20%; */
  }
  /* .Landing {
    margin-top: 4%;
  } */
  /* .landing-text {
    height: 500px;
  } */
  .landing-text h2 {
    /* font-size: 38px; */
  }
  .landing-text h1 {
    margin-left: 70px;
    /* font-size: 21px; */
  }
  .landing-text p {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  /* .landing-video {
    height: 600px;
  } */
  .landing-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: auto;
    border-radius: 0px 0px 40px 40px;
  }
  .landing-card .col-lg-5 {
    padding-left: 12px;
}

  .landing-text h1 {
    margin: 0%;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    max-width: 100%;
  }
  .landing-text h2 {
    margin: 0% !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    right: 0rem;
  }
  .swiper-button-prev {
    left: 0rem;
  }
  body {
    height: auto;
  }
  .secondText img {
    display: none;
  }
  .secondText p {
    max-width: 100%;
  }
  header img {
    width: 270px;
  }
  .landing-Img img {
    border-radius: 40px 40px 0px 0px;
  }
  .landing-card .col-lg-7 {
    padding-right: 12px;
  }
  .secondText {
    height: auto;
  }
  .slider .myswiper1 {
    margin: 0 0rem;
  }
  .secondText h1 {
    font-size: 38px;
  }
  .secondText p {
    font-size: 20px;
  }
  .landing-Img img {
    height: 450px;
  }
  .landing-text h2 {
    font-size: 30px;
  }
  .landing-text p {
    font-size: 20px;
  }
  .landing-video video {
    height: 180px;
  }
}

@media (max-width:768px) {
  .swiper-slide {
    position: unset;
    transition: unset !important;
    opacity: unset!important;
    transform: unset !important;
  }
  
  .swiper-slide-active {
    opacity: unset !important;
    transform: unset !important;
    z-index: unset !important;
    
  }
  
  /* .swiper-slide-next {
    left: 0rem;
  }
  .swiper-slide-prev {
    right: 0rem;
  } */
  .swiper-slide-next,
  .swiper-slide-prev {
    opacity: unset !important;
    transform: unset !important;
    z-index: unset !important;
    filter: unset;
  }
  
  .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(
      .swiper-slide-prev
    ) {
    opacity: unset !important;
  }
    
}
/* Form */
.entry__field {
  /* background:none !important; */
}
.entry__field input {
  /* border: 1px solid #f28f5d !important; */
  box-shadow: none !important;
}
.sib-form .entry__field {
  border: none !important;
  box-shadow: none !important;
  border-radius: 10px !important;
}
.entry__field input::placeholder {
  color: #9f9f9f !important;
  padding-left: 10px;
  text-align: center !important;
}
.input {
  color: #9f9f9f !important;
  text-align: center;
}

/* tbody td{
  font-family: "Baloo Bhaijaan 2", sans-serif;
} */
